@import url(color.css);

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--text-color);
    /* font-family: 'Roboto', sans-serif; */
}

a {
    text-decoration: none;
}

.header .nav {
    padding: 0 8%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .nav a {
    color: var(--color-link);
    font-size: 2.6rem;
}

.header .nav ol {
    list-style: none;
}

.header .nav ol li {
    display: inline-block;
    
}

li:not(:last-child) {
    margin-right: 2rem;
}

.header .nav ol li a {
    color: var(--color-link);
    font-size: 1.8rem;
    background-color: var(--bg-linear-secondary);
    padding: .8rem 1.4rem;
    border-radius: .3rem;
    border-radius: 10px;
    box-shadow: 4px 4px 25px 0px rgb(0 0 0 / 30%);
}
.header .nav ol li a:hover{
    color: rgb(255, 140, 0);
}
/* .hero {

} */

/* ========================================== */
/* header end  */
/* ========================================== */

.main {
    min-height: 100vh;
}

.main__html-component {
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 3;
    gap: 3rem 2rem;
    padding: 0 4%;
}

.main__html-componentBox {
    padding: 2rem 1rem;
    min-width: 100%;
    background: linear-gradient(95deg, var(--bg-linear-primary), var(--bg-linear-secondary));
    border-radius: 1rem;
    box-shadow: 4px 4px 25px 0px rgb(0 0 0 / 30%);
    transition: all .3s;
    cursor: pointer;
    display: flex;
}

.main__html-componentBox:hover {
    transform: scale(1.08);
}

.main__html-componentBox-logobox {
    margin-right: 1rem;
    display: flex;
    align-items: center;
}

.main__html-componentBox-logobox img {
    height: 8rem;
}

.main__html-componentBox-textBox  {
    width: 100%;
    color: var(--componentBox-textBox-color);
}
.main__html-componentBox-textBox h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.main__html-componentBox-textBox p {
    font-size: 1.8rem;
    /* width: 100%; */
}

.main__html-componentBox-textBox p a {
    color: inherit;
    background: linear-gradient(95deg, var(--bg-linear-secondary), var(--bg-linear-primary));
    padding: 1rem 1.5rem;
    display: inline-block;
    margin-top: 1rem;
    border-radius: .4rem;
    width: 100%;
}

.theme__box {
    z-index: 99999999;
    display: inline-block;
    margin-right: 1rem;
    /* position: fixed; */
    top: 50%;
    top: 50%;
    left: 2rem;
}

.theme__box select {
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid var(--color-border);
    border-radius: .4rem;
    background: linear-gradient(95deg, var(--bg-linear-primary), var(--bg-linear-secondary));
    background-color: var(--extra-bg-color);
    color: var(--text-color);
    cursor: pointer;
    box-shadow: 4px 4px 25px 0px rgb(0 0 0 / 30%);
    /* outline: none; */
    /* border: 1px solid var(--color-border); */
}

.theme__box select:focus {
    outline: none;
    border: none;
}

.theme__box select option {
    font-size: 1.5rem;
}

/* =========================================== */
/* footer */
/* =========================================== */

.footer {
    height: 16rem;
    margin-top: 5rem;
    background: linear-gradient(94.23deg,#5374fa 12.41%,#fd9179 52.55%,#ff6969 89.95%);
}

.footer__box {
    height: 95%;
    width: 100%;
    background: var(--color-bg-primary);
    border-top: 1px solid rgb(158, 158, 158);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 0;
}

.footer__box h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.footer__link {
    display: flex;
}

.footer__link-box {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer__link-box a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--text-color);
}

.footer__link-box a:not(:last-child) {
    margin-right: 1.2rem;
}

.footer__app-link a img {
    height: 6rem;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: linear-gradient(95deg, var(--bg-linear-primary), var(--bg-linear-secondary)); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: linear-gradient(95deg, var(--bg-linear-primary), var(--bg-linear-secondary));
}

/* meadi screen for 1024px or above  */
@media screen and (min-width: 1441px) and (max-width: 4000px) {
    .main{
        margin: 12rem 28rem 0 28rem;
    }
}