.toggler{
    display:none;
}

.header .nav {
    position: fixed;
    top: 0;
    width:100%;
    z-index: 99;
    padding: 0px 4%;
    height:80px;
    margin: 0rem 0 2rem;
    background-color:var(--color-bg-primary);
    box-shadow:0 0 2px 0 var(--color-heading);
}

.main{
    margin-top: 120px;
}

.footer {
    height: 15rem;
}