.menu-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--color-bg-primary);
    box-shadow: 0 0 2px 2px var(--color-heading);
}


.menu-wrap .toggler {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 10;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0;
}

.menu-wrap>a {
    z-index: 5;
    position: absolute;
    left: 20px;
    top: 20px;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 6;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* hamburger lines  */
.menu-wrap .hamburger>div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 2px;
    background: var(--text-color);
    transition: all 0.35s ease;
    z-index: 5;
}

/* top line and bottom line  */
.menu-wrap .hamburger>div:before,
.menu-wrap .hamburger>div:after {
    content: '';
    position: absolute;
    right: 0;
    top: -10px;
    z-index: 1;
    width: 95%;
    height: 2px;
    background: var(--text-color);
    transition: all 0.35s ease;
}

.menu-wrap .hamburger>div:after {
    top: 10px;
}

/* toggler animation  */

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

/* make x  */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked+.hamburger>div:hover {
    transform: rotate(225deg);
}

/* show menu  */
.menu-wrap .toggler:checked~.menu {
    transform: translateX(0);
}


.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: .4s;
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity .4s ease;
}

/* nav menu  */

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.35s ease;
    transform: translateX(-100%);
    z-index: 1;
}

.menu-wrap .menu>div {
    background: var(--color-bg-primary);
    /* border-radius:50%; */
    width: 100%;
    height: 100%;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.35s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 90vh;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.menu-wrap .menu>div>div ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px 0 0;
}

.menu-wrap .menu>div>div ol li {
    list-style: none;
    margin: 10px 0;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 5px;
}

.menu-wrap .menu>div>div ol li a {
    text-decoration: none;
    color: inherit;
    transition: color 0.35s ease;
}


.header .nav ol li a {
    font-size: 1.3rem;
}

.main {
    margin-top: 100px;
}

/* test  */

.footer {
    height: 16rem;
}

.footer__link-box a {
    font-size: 1.2rem;
}

.footer__link {
    flex-direction: column;
}

.footer__app-link a img {
    height: 8rem;
}