/* test  */
.main__html-component {
    grid-template-columns: 80%;
}

.main__html-componentBox {
    margin: auto 10% auto 10%;
}

.toggler {
    display: none;
}

.header .nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    padding: 0px 4%;
    height: 80px;
    margin: 0rem 0 2rem;
    background-color: var(--color-bg-primary);
    box-shadow: 0 0 2px 0 var(--color-heading);
}

.header .nav a {
    font-size: 2.2rem;
}

.header .nav ol li a {
    margin-right: 0.1rem;
    font-size: 1.6rem;
}

@media screen and (max-width: 500px) {
    .header .nav a {
        font-size: 1.7rem;
    }

    .header .nav ol li a {
        font-size: 1.4rem;
    }
}

.footer {
    height: 16rem;
}